-# frozen_string_literal: true
= simple_form_for(@section) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title
    = f.input :overview
    /= f.association :course
    /= f.association :course, :as => :collection_select, collection: Course.all.where('user_id <>?', current_user), :input_html => {:class => "input-small"}, :label => "course"
    /= f.association :course, :as => :collection_select, collection: Course.all.map { |c| c if c.user_id == current_user.id }.compact, include_blank: false, :label => "Course"
    = f.input :course_id, input_html: {value: @section.course_id || params[:course_id]}, as: :hidden
  .form-actions
    = f.button :submit
