- content_for :title do
  Girlveloper
  \|
  =@section.title

= link_to 'Courses', courses_path
\|
=link_to @section.course.title, course_path(@section.course)
\|
= @section.title
%p
= render 'sections/section', section: @section
.card  
  .card-body
    %h5 Lessons in this section:
    %p
    - @section.lessons.each do |lesson|
      %li.list-group-item
        = render 'lessons/lesson_preview', lesson: lesson
  
  .card-footer
    = link_to "Add lesson", new_course_section_lesson_path(@course, @section, @lesson), class: 'btn btn-primary btn-sm btn-block p-3 mb-2 bg-gradient-primary text-white' if current_user && policy(@section).new?

%p
= link_to 'Back to course', course_path(@section.course)

