/-# frozen_string_literal: true
/= simple_form_for(@lesson) do |f|
/  = f.error_notification
/  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

/  .form-inputs
/    = f.input :title
/    = f.input :description
/    = f.input :youtube
/    = f.input :links
/    = f.association :section
    

/  .form-actions
/    = f.button :submit

-# frozen_string_literal: true

= simple_form_for([@course, @section, @lesson]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title, input_html: { autocomplete: 'off' },  id: "lesson_title"
    / = f.input :title, id: "lesson_title"
    = f.label :add_your_video_url_or_text, id: "lesson_video"
    = f.rich_text_area :description
    %small= f.error :description, class: 'text-danger'
    = f.label :or_add_your_url_for, id: "lesson_youtube_video"
    = f.input :youtube
    = f.label :add_additional_lesson_links, id: "lesson_additional_links"
    = f.rich_text_area :links
    %small= f.error :description, class: 'text-danger'
   
    -if @lesson.clip.attached?
      .row
        .col.col-lg-6
          %p Current video:
        .col.col.col-lg-2
          .row
            Content type:
            = @lesson.clip.content_type
          .row
            File name:  
            = @lesson.clip.filename
          .row  
            Bytes:
            = @lesson.clip.byte_size
    %p
    = f.label :upload_new_video_clip
    = f.file_field :clip
    %p
    
    -if @lesson.clip_thumbnail.attached?
      .row
        .col.col-lg-6
          %p Current thumbnail:
          = image_tag @lesson.clip_thumbnail, width: "250px"
        .col.col.col-lg-2
          .row
            Content type:
            = @lesson.clip_thumbnail.content_type
          .row
            File name:  
            = @lesson.clip_thumbnail.filename
          .row
            Width, px:
            = @lesson.clip_thumbnail.metadata[:width]
          .row
            Height, px:
            = @lesson.clip_thumbnail.metadata[:height]
          .row  
            Bytes:
            = @lesson.clip_thumbnail.byte_size
    %p
    = f.label :upload_new_thumbnail
    = f.file_field :clip_thumbnail
  %br
  .form-actions
    = f.button :submit, id: "course_submit"
