.card
  .card-header
    .fa.fa-book
      = link_to course.title, course_path(course)
    %p
    = simple_format(course.short_description)
  .card-body
    Program
    
    = course.description
  .card-footer
    .row
      .col-md-6
        .fa.fa-star
          = course.average_rating
          (
          = course.enrollments.where.not(rating: nil).length
          reviews
          )
          .fa.fa-user-graduate
          = course.enrollments_count
          students
      .col-md-6
        .fa.fa-tasks
          = total_lectures(course)
          lectures
          
  .card-footer
    .row
      .col-md-6
        .fa.fa-chalkboard-teacher
        Created by:
        = link_to course.user.username, user_path(course.user)
      .col-md-6
        .text-right
          = enrollment_button(course)
        .text-right
          = review_button(course)
  .card-footer
    .row
      .col-md-6
        .text-right
          .fa.fa-signal
          Level:
          = course.level
  .card-footer 
    .row
      .col-md-6
        .far.fa-clock
        Last updated:
        = course.updated_at.strftime('%d-%b-%Y')
      .col-md-6
        .fa.fa-globe-africa
        = course.language
  - if current_user
    - if policy(course).edit?
      .card-footer
        /= link_to 'Show', course, class: 'btn btn-sm btn-primary'
        /- if policy(course).edit?
        = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-primary text-white'
        /- if policy(course).destroy?
        = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary text-white'
        - if policy(course).owner?
          = link_to "Add section", new_course_section_path(course, @section), class: 'btn btn-sm btn-primary text-white'  
      .card-footer
        - if course.published?
          .badge.bg-success Published
          - if course.approved?
            .badge.bg-success Approved
          -else
            .badge.bg-secondary Unapproved
        -else
          .badge.bg-danger Unpublished
          - if course.approved?
            .badge.bg-success Approved
          -else
            .badge.bg-secondary Unapproved
          
    - if policy(course).approve?
      .card-footer
        - if course.approved?
          = link_to "Unapprove", unapprove_course_path(course), method: :patch, class: 'btn btn-sm btn-danger'
        -else
          = link_to "Approve", approve_course_path(course), method: :patch, class: 'btn btn-sm btn-success'
        