-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :title, id: "course_title"
    = f.label :what_will_students_learn, id: "course_description"
    = f.rich_text_area :description
    %small= f.error :description, class: 'text-danger'
    = f.input :short_description
    // = f.input :language, collection: [ "English", "French", "Russian"]
    = f.input :language, collection: Course.languages, include_blank: true
    // = f.input :level, collection: [ "Beginner", "Intermediate", "Advanced"]
    = f.input :level, collection: Course.levels, include_blank: true
    = f.input :price
    %br
    = f.label :course_preview_thumbnail
    .row
    -if @course.preview_thumbnail.attached?
      = image_tag @course.preview_thumbnail, width: "250px"
    = f.file_field :preview_thumbnail, id: "preview_thumbnail"
    %br
    %br
    = f.input :published
    

  .form-actions
    = f.button :submit, id: "course_submit"
