
.jumbotron
  .display-4
  Welcome to girlveloper platform. Let's learn something exciting today!

  %p
  /.form-inline.my-2.my-lg-0
  /  = form_tag(courses_path, method: :get) do
  - if current_user
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      .input-group
        /= text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        = f.search_field :title_cont, class: 'form-control-sm', style: 'float: left; width: 150px; ', placeholder: 'Find a course', :autocomplete => :off
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}
  %p

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%hr
%h2
  Popular courses
.card-rows
  - @courses.each do |course|
    = render 'courses/course', course: course
    %p

%hr
%h2 
  Top rated courses
.card-columns 
  - @courses.each do |course|
    = render 'courses/course', course: course
    %p

%hr
%h2 
  Latest courses
.card-columns
  - @latest_courses.each do |course|
    = render 'courses/course', course: course
    %p

%hr

.p-4

  %footer
    %p © 2023 Code School. All rights reserved.
    = link_to root_path, class: "btn btn-lg btn-warning" do
      Privacy Policy
      %i.fa-solid.fa-file
