- if current_user
  = current_user.email
  = link_to 'Account settings', edit_user_registration_path, class: "nav-link", tabindex: "-2", aria_disabled: true
  = link_to t("logout_link"), destroy_user_session_path, id: "user_signout", class: "nav-link", tabindex: "-1", aria_disabled: true,  method: :delete
- else 
  = link_to 'Sign Up', new_user_registration_path
  = link_to 'log In', new_user_session_path